<div class = "col">
  <div class="card mb-3 ">
    <div class="card-body">
      <h5 class="card-header">Booking {{ booking.id }}</h5>
      <p class="card-text lead">
        Lesson booked for <strong>{{ booking.student }}</strong> on <strong>{{ booking.day }}</strong> at <strong>{{ booking.time }}</strong>
        Starting on <strong>{{ booking.start_date }}</strong>, you will have <strong>{{ booking.no_of_lessons }}</strong> lessons every 
        <strong>{{ booking.interval }}</strong> weeks. The lessons will be <strong>{{ booking.duration }}</strong> minutes long. Your teacher
        will be <strong>{{ booking.teacher }}</strong>.
      </p>
    </div>
    <!-- To Do: Include if user is admin -->
    {% include 'partials/bookings_card_footer.html'%}
  </div>
</div>
  
