<div class = "col">
  <div class="card mb-3 ">
    <div class="card-body">
      <h5 class="card-header">Booking {{ booking.id }}</h5>
      <p class="card-text lead">
        Lesson booked for <strong>{{ booking.student }}</strong> on <strong>{{ booking.day }}</strong> at <strong>{{ booking.time }}</strong>
        Starting on <strong>{{ booking.start_date }}</strong>, you will have <strong>{{ booking.no_of_lessons }}</strong> lessons every 
          <strong>{{ booking.interval }}</strong> weeks. The lessons will be <strong>{{ booking.duration }}</strong> minutes long. Your teacher
        will be <strong>{{ booking.teacher }}</strong>.
      </p>
    </div>
    <div class="card-footer">
      <a href="#" type="button" class="btn btn-primary">Edit</a>
      <a href="#" type="button" class="btn btn-danger">Delete</a>
    </div>
    <!-- {% if booking.student.is_superuser %} -->
    <!-- {% endif %} -->
  </div>
</div>
  
