<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <div class="container-fluid">
    <!-- Add link to home page here -->
    <a class="navbar-brand" href="#">
      <span class="icon-chicken3"></span>&nbsp;MSMS
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    {% include 'partials/menu.html'%}
  </div>
</nav>
