<!-- Card Footer -->
<div class="card-footer">
    {% if user.is_admin%}
      <a href="{%url 'new_booking' id=request.id%}" type="button" class="btn btn-primary">Book Lesson</a>
    {% else %}
      <a href="{%url 'update_request' request.id %}" type="button" class="btn btn-primary">Edit</a>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteConfirmation">Delete</button>
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="deleteConfirmation" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteConfirmationLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="deleteConfirmationLabel">Delete Confirmation</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this request?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a href="{%url 'delete_request' request.id %}" type="button" class="btn btn-danger">Confirm</a>
            </div>
        </div>
    </div>
</div>
