{% for transfer in transfers %}
<div class="accordion-item">
    <h2 class="accordion-header" id="transfer_{{transfer.pk}}">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#transfer_collapse_{{transfer.pk}}" aria-expanded="false" aria-controls="transfer_collapse_{{transfer.pk}}">
        Transfer ID: {{transfer.invoice.booking.student.pk}} - {{transfer.pk}} : Student: {{transfer.invoice.booking.student.full_name}}
      </button>
    </h2>
    <div id="transfer_collapse_{{transfer.pk}}" class="accordion-collapse collapse" aria-labelledby="transfer_{{transfer.pk}}" data-bs-parent="#TransfersACC">
        <div class="accordion-body">
            <p><strong>Invoice ID: </strong> {{transfer.invoice.booking.student.pk}} - {{transfer.invoice.booking.pk}}</p>
            <p><strong>Transfer of: </strong> £{{transfer.amount}}</p>
            <p><strong>Date & Time: </strong> {{transfer.date}}</p>
        </div>
    </div>
  </div>


{% endfor %}