{% extends 'base_content.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <h1>Invoice: {{user.id}}-{{invoice.booking.id}} </h1>
        {% include 'partials/invoice_as_table.html' with invoice=invoice %}
    </div>
    <div class="row">
        {% if invoice.is_paid == False %}
            <form action="{% url 'submit_transfer' invoice.id%}" method="post">
                {% csrf_token %}
                {% include 'partials/bootstrap_form.html' with form=form %}
                <button type="submit" class="btn btn-primary">Submit Transfer</button>
            </form>
        {%else%}
        {%endif%}
    </div>
    <a href="{%url 'bookings' %}" type="button" class="btn btn-primary">Back</a>
</div>
{% endblock %}