{% extends 'base.html' %}
{% block body %}
<div id="cover-image">
  <div class="container vh-100">
    <div class="row h-100">
      <div class="col-12 my-auto">
        <div class="card cover-card offset-sm-1 offset-md-3 offset-lg-6">
          <h1 class="cover-heading">MSMS</h1>
          <p class="cover-text">Music School Management System</p>
          <p>
            <a href='{% url 'sign_up' %}' class="btn btn-lg btn-secondary">
              Sign up
            </a>
          </p>
          <p>
            <a href="#" class="btn btn-lg btn-secondary">
              Log in
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
