{% extends 'base_content.html' %}
{% block content %}

<div class="container">
    <h2>Select a student</h2>
    <div class="row">
        <form method="post">
            {% csrf_token %}
            {% include 'partials/bootstrap_form.html' with form=form %}
            <a href="{%url 'feed'%}" type="button" class="btn btn-secondary">Back</a>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        <div class="col-xs-12 col-lg-6 col-xl-4">
    </div>
</div>
{% endblock %}