{% extends 'base2.html' %}
{% block body %}
<div class="col-12 my-auto" align="center">
<div class="col-12 col-md-8 col-lg-6 col-xl-5">
<h1>Invoices</h1>
<div class="container vh-60">
<div class="row h-60">
<div class="col-12 my-auto" align="center">
<div class="container vh-100">
<div class="row h-30 w-30">
<p><a href="{% url 'feed' %}" class="btn btn-light btn-secondary custombtn">Back</a></p>
<div class="card home-description">
<table class="table">
<tr>
<td><label><b>Invoice Number</b></label></td>
<td><label><b>Number of Lessons</b></label></td>
<td><label><b>Teacher to bill</b></label></td>
<td><label><b>Invoice Reference</b></label></td>
</tr>
{% for booking in lessons %}
<tr>
<td>{{ booking.num_of_lessons }}</td>
<td>{{ booking.teacher }}</td>
{% if forloop.counter < 10 %}
<td>{{student_id}}-00{{forloop.counter}}</td>
{% else %}
<td> {{student_id }}-{{forloop.counter}}</td>
{% endif %}
</tr>
{% endfor %}
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

{% endblock %}